
/*--------------- Global Styles*/
html, body {
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	font-weight: 400;
	color: #999;
}

p {
	margin-bottom: 20px;
}

.divider{
	display: block;
	height: 2px;
	width: 50px;
	margin: 15px;
	background-color: #61A6B5;
}

.divider.green_div {
	background-color: #B1F6CB;
}
/*--------------- Header*/
.header_wrap {
	width: 100%;
	padding: 15px 0;
	background-color: #FFFEDB;
}

.logo {
	font-family: 'Monserrat', sans-serif;
	text-transform: uppercase;
	margin-top: 2em;
	color: #8A9091;
}

.logo i {
	font-size: 31px;
	margin-right: 4px;
}

.logo h1 {
	margin-top: 0;
	font-size: 30px;
	text-transform: lowercase;
	display: inline-block;
	letter-spacing: -2px;
}

/*--------------- Navigation*/
.nav ul {
	margin-right: 1em;
	margin-top: 1em;
}
.nav ul li {
	display: inline-block;
	padding: 13px;
	font-weight: 600;
	list-style: none;
	text-transform: uppercase;
}

.nav ul li a {
	color:#468492;
	transtition: all .2s ease; /* transition y'all! */
}

.nav ul a:hover {
	color: #a8deb7;
	border-bottom: 2px solid #a8deb7;
	padding-top: 5px;
	margin-bottom: 5px;
}

/*--------------- POV (Point of View)*/
.pov {
	width: 100%;
	padding: 50px 0;
	background: url(../app/global_imgs/back_pattern.png) repeat #fff;
}

.pov h2 {
	color: #999;
	font-size: 70px;
	font-weight: 100;
}

.pov p {
	text-transform: uppercase;
	font-weight: 600;
}

/*--------------- Process*/
.how {
	padding: 50px 0;
}

.how h2 {
	text-align: center;
	font-weight: 100;
	font-size: 50px;
}

/*--------------- Features*/
.feat {
	width: 100%;
	padding: 50px 0;
	background-color: #303030;
	color: #b0b0b0;
}


/*--------------- Footer*/
.footer_wrap{
	background-color: #C8E98E;
	padding: 20px 0;
}

/*--------------- Buttons*/
.btn {
    padding: 0 3em;
    font-family: 'Raleway', sans-serif;
		font-weight: 600;
    font-size: 14px;
    color: #FFF;
		line-height: 3;
    border-radius: 0;
    letter-spacing: 0.05em;
		margin: 1.4em .3em;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    text-transform: uppercase;
}

.btn.blue {
    background:#61A6B5;
}

.btn.blue:hover, .btn.blue_line:hover {
    background: #61A6B5;
		opacity: .7;
    color: #FFF;
}

.btn.blue_line {
	border: 1px solid #61A6B5;
	background-color: transparent;
	color: #61A6B5;
}

.btn.green {
    background-color: #8EDEAC;
}

.btn.green_line {
	border: 1px solid #8EDEAC;
	background-color: transparent;
	color: #8EDEAC;
}

.btn.green:hover, .btn.green_line:hover {
    background-color: #8EDEAC;
		opacity: .7;
    color:#fff;
}
