/*--------------- Header*/
.logo i {
	font-size: 31px;
	margin-right: 4px;
}

.logo h1 {
	margin-top: 0;
	font-size: 30px;
	text-transform: lowercase;
	display: inline-block;
	letter-spacing: -2px;
}

/*--------------- Navigation*/

.nav ul {
	margin-right: 1em;
	margin-top: 1em;
}
.nav ul li {
	display: inline-block;
	padding: 13px;
	font-weight: 600;
	list-style: none;
	text-transform: uppercase;
}

.nav ul li a {
	color:#468492;
	transtition: all .2s ease; /* transition y'all! */
}

.nav ul a:hover {
	color: #a8deb7;
	border-bottom: 2px solid #a8deb7;
	padding-top: 5px;
	margin-bottom: 5px;
}

/*--------------- Content*/
p {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	padding-top: 100px;
	padding-bottom: 50px;
	text-align: center;

}

/*--------------- Form*/
form {
	padding-top: 50px;
	vertical-align: middle;
}

/*--------------- Footer*/
.footer_wrap{
	background-color: #C8E98E;
	padding: 20px 0;
}

/*--------------- Buttons*/
.btn {
    padding: 0 3em;
    font-family: 'Raleway', sans-serif;
		font-weight: 600;
    font-size: 14px;
    color: #FFF;
		line-height: 3;
    border-radius: 0;
    letter-spacing: 0.05em;
		margin: 1.4em .3em;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    text-transform: uppercase;
}

.btn.blue {
    background:#61A6B5;
}

.btn.blue:hover, .btn.blue_line:hover {
    background: #61A6B5;
		opacity: .7;
    color: #FFF;
}

.btn.blue_line {
	border: 1px solid #61A6B5;
	background-color: transparent;
	color: #61A6B5;
}

.btn.green {
    background-color: #8EDEAC;
}

.btn.green:hover {
    background-color: #00b3db;
    color:#fff;
}
