#active_detail {
  padding-top: 50px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
}
#sub_nav_active {
  width: 100%;
  padding: 15px 0;
  background-color: #EBFDD4;
}

#sub_nav_text p {
  display: inline-block;
}
