#active_detail {
  padding-top: 50px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
}
#sub_nav_active {
  width: 100%;
  padding: 5px 0;
  background-color: #EBFDD4;
}

#sub_nav_text p {
  margin-top: 15px;
  display: inline-block;
  text-align: center;
}

#po_panel_h5 {
    text-align: left;
    text-transform: uppercase;
  }

#submit_pdg {
  display: block;
  margin: 0 auto;
}
