#title {
  text-align: left;
  padding-left: 20px;
}

/*--------------- Footer*/
.footer_wrap{
	background-color: #b1f6cb;
	text-transform: lowercase;
	font-weight: 600;
	padding: 20px 0;
}

#panel_container {
  overflow: hidden;
  /* padding-top: 50px;
  padding-bottom: 50px; */
}

#po_panel_h3 {
  text-align: center;

}
#submit_mr {
  text-align: center;
}
